# Delphi generierte Verzeichnisse
__history/
Win32/
x64/
__recovery/
.dcu/
.dcp/

# Backup-Dateien
*.~*
*.bak
*.tmp

# Projektkonfiguration
*.identcache
*.local
*.tvsconfig
*.dsk
*.stat
*.dproj.*
*.groupproj.*

# Sonstiges
*.log
.svn/

# Setup-Verzeichnis ignorieren, aber .iss-Dateien behalten
/setup/*
!/setup/*.iss

# Github Dateien und Verzeichnisse, falls verwendet
bin/
output/
.gitignore

# Windows
Thumbs.db
desktop.ini

